{{ partial "head.html" }}
<body class="fade-in" cz-shortcut-listen="true">
        <nav id="nav">
          <a href="{{ .Site.BaseURL }}" onclick="bloom(this);" class="styled">Kye Shimizu</a>
          <div id="projectnav">
                <div id="projectnav">
                        <a href="{{ .Site.BaseURL}}about/" class="styled">About</a>
                        <a href="{{ .Site.BaseURL}}blog/" class="styled">Blog</a>
                </div>
            </div>
        </nav>
        <article id="about" >
            <h1>{{ .Title}}</h1>
            <h4>{{ .Description }}</h4>
    <p>{{ .Content }}</p>

    </article>
    <script src="{{.Site.BaseURL }}/js/lazysizes.min.js" async=""></script>
    <script src="{{.Site.BaseURL}}/js/bundle.js" async=""></script>
</body>
</html>