/* Global overrides */
@font-face {
  src: url("fonts/Chivo-Regular.ttf");
  font-family: Chivo; }

body {
  font-family: Chivo, sans-serif;
  background-color: #141414;
  color: #eee;
  margin: 0 auto;
  max-width: 1008px;
  box-sizing: border-box;
  border: 16px solid transparent;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5em; }

h1, h2, h3 {
  font-weight: normal;
  letter-spacing: 0.04em; }

a {
  text-decoration: none;
  color: inherit; }

a.styled {
  display: inline-block;
  color: #eee;
  background-color: #282828;
  padding: 2px 6px;
  margin: 2px; }

a.styled-dark {
  color: #555; }

a.styled:hover, a.styled-dark:hover {
  background-color: #383838;
  color: #eee; }

a.styled:active, a.styled-dark:active {
  background-color: #eee;
  color: #383838; }

a.styled-dark .icon {
  opacity: 0.3; }

a.styled-dark:hover .icon {
  opacity: 0.93; }

a.styled-dark:active .icon {
  opacity: 0.7;
  background-position-y: -40px; }

.imglite {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block; }

/* Nav bar */
#nav > a {
  font-size: 1.17em;
  padding: 8px;
  margin: 0; }

nav, article, header {
  max-width: 750px;
  margin: 0 auto 2em auto; }

nav > * {
  display: inline-block; }

#projectnav {
  float: right; }

.projectnav {
  display: block;
  text-align: right;
  margin: 0;
  white-space: nowrap;
  line-height: 0; }

.projectnav span.navtext {
  /*height:40px;*/
  display: inline-block;
  margin: 8px; }

.projectnav a {
  /*margin:0;*/ }

/* Greeter */
#greeter {
  font-size: 31.5px;
  line-height: 1.4em;
  display: block;
  margin: 2em 0;
  color: #999; }

#greeter > a {
  /*color:#eee;*/
  padding: 2px 0.25em;
  margin: 0.25em 0; }

#contact {
  margin: 1em 0;
  text-align: center; }

#contact a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  /*text-align:center;*/
  /*background-repeat:no-repeat;*/ }

.icon {
  background-image: url("../img/logos.png");
  padding: 20px;
  display: inline-block;
  background-size: 320px 80px; }

.icon:before {
  content: '\200B';
  /* Strange hack */ }

.icon.left {
  background-position-x: 0px; }

.icon.right {
  background-position-x: -40px; }

.icon.facebook {
  background-position-x: -80px; }

.icon.twitter {
  background-position-x: -120px; }

.icon.github {
  background-position-x: -200px; }

.icon.instagram {
  background-position-x: -160px; }

.icon.email {
  background-position-x: -240px; }

/* Article Styling */
article {
  /*text-align: justify;*/
  font-size: 19.5px;
  line-height: 1.8em;
  position: relative; }

.lotsaspace {
  padding-bottom: 150%; }

article > *:first-child {
  margin-top: 0; }

article img, .imglite {
  width: 100%;
  height: auto;
  z-index: 1; }

article hr {
  border-color: #555;
  border-style: solid;
  margin: 2em 0; }

article p a {
  display: inline-block;
  color: #eee;
  background-color: #282828;
  padding: 2px 6px;
  margin: 2px; }

article p a.styled-dark {
  color: #555; }

article p a:hover, article p a.styled-dark:hover {
  background-color: #383838;
  color: #eee; }

article p a:active, article p a.styled-dark:active {
  background-color: #eee;
  color: #383838; }

/* Project container */
#projects {
  column-count: 3;
  column-gap: 24px;
  width: 100%; }

.project {
  box-sizing: border-box;
  border: 6px solid transparent;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 16px; }

/* Project Tiles */
.project:hover {
  border-color: #383838;
  background-color: #383838; }

.project:active, #go {
  border-color: #eee;
  background-color: #eee;
  color: #222; }

.project summary {
  margin: 0; }

.project h3 {
  display: inline-block;
  margin: 0; }

.project img {
  width: 100%;
  height: auto; }

.project p, .project time {
  letter-spacing: 0.01em;
  font-size: 0.95em;
  margin: 0;
  color: #aaa; }

.project time {
  /*color:#888;*/
  margin-left: 8px;
  display: inline-block; }

/* Animation */
nav, article {
  transition-property: opacity;
  transition-duration: 200ms; }

body.fade-in nav, body.fade-in article, body.fade-in project {
  transition-duration: 300ms; }

.project {
  transition-property: opacity;
  transition-duration: 200ms; }

body.delayed-fade nav, body.delayed-fade article {
  transition-delay: 300ms;
  transition-duration: 300ms; }

/*copy(Array.from(Array(30).keys()).slice(1).map((a)=>`      .project:nth-child(${a}){transition-delay:${300+9*(a-1)}ms;}\n`).join(""));*/
.project:nth-child(1) {
  transition-delay: 300ms; }

.project:nth-child(2) {
  transition-delay: 309ms; }

.project:nth-child(3) {
  transition-delay: 318ms; }

.project:nth-child(4) {
  transition-delay: 327ms; }

.project:nth-child(5) {
  transition-delay: 336ms; }

.project:nth-child(6) {
  transition-delay: 345ms; }

.project:nth-child(7) {
  transition-delay: 354ms; }

.project:nth-child(8) {
  transition-delay: 363ms; }

.project:nth-child(9) {
  transition-delay: 372ms; }

.project:nth-child(10) {
  transition-delay: 381ms; }

.project:nth-child(11) {
  transition-delay: 390ms; }

.project:nth-child(12) {
  transition-delay: 399ms; }

.project:nth-child(13) {
  transition-delay: 408ms; }

.project:nth-child(14) {
  transition-delay: 417ms; }

.project:nth-child(15) {
  transition-delay: 426ms; }

.project:nth-child(16) {
  transition-delay: 435ms; }

.project:nth-child(17) {
  transition-delay: 444ms; }

.project:nth-child(18) {
  transition-delay: 453ms; }

.project:nth-child(19) {
  transition-delay: 462ms; }

.project:nth-child(20) {
  transition-delay: 471ms; }

.project:nth-child(21) {
  transition-delay: 480ms; }

.project:nth-child(22) {
  transition-delay: 489ms; }

.project:nth-child(23) {
  transition-delay: 498ms; }

.project:nth-child(24) {
  transition-delay: 507ms; }

.project:nth-child(25) {
  transition-delay: 516ms; }

.project:nth-child(26) {
  transition-delay: 525ms; }

.project:nth-child(27) {
  transition-delay: 534ms; }

.project:nth-child(28) {
  transition-delay: 543ms; }

.project:nth-child(29) {
  transition-delay: 552ms; }

/* copy(Array.from(Array(30).keys()).slice(1).map((a)=>`      body.fade-in .project:nth-child(${a}){transition-delay:${150+9*(a-1)}ms;}\n`).join("")); */
body.fade-in .project:nth-child(1) {
  transition-delay: 150ms; }

body.fade-in .project:nth-child(2) {
  transition-delay: 159ms; }

body.fade-in .project:nth-child(3) {
  transition-delay: 168ms; }

body.fade-in .project:nth-child(4) {
  transition-delay: 177ms; }

body.fade-in .project:nth-child(5) {
  transition-delay: 186ms; }

body.fade-in .project:nth-child(6) {
  transition-delay: 195ms; }

body.fade-in .project:nth-child(7) {
  transition-delay: 204ms; }

body.fade-in .project:nth-child(8) {
  transition-delay: 213ms; }

body.fade-in .project:nth-child(9) {
  transition-delay: 222ms; }

body.fade-in .project:nth-child(10) {
  transition-delay: 231ms; }

body.fade-in .project:nth-child(11) {
  transition-delay: 240ms; }

body.fade-in .project:nth-child(12) {
  transition-delay: 249ms; }

body.fade-in .project:nth-child(13) {
  transition-delay: 258ms; }

body.fade-in .project:nth-child(14) {
  transition-delay: 267ms; }

body.fade-in .project:nth-child(15) {
  transition-delay: 276ms; }

body.fade-in .project:nth-child(16) {
  transition-delay: 285ms; }

body.fade-in .project:nth-child(17) {
  transition-delay: 294ms; }

body.fade-in .project:nth-child(18) {
  transition-delay: 303ms; }

body.fade-in .project:nth-child(19) {
  transition-delay: 312ms; }

body.fade-in .project:nth-child(20) {
  transition-delay: 321ms; }

body.fade-in .project:nth-child(21) {
  transition-delay: 330ms; }

body.fade-in .project:nth-child(22) {
  transition-delay: 339ms; }

body.fade-in .project:nth-child(23) {
  transition-delay: 348ms; }

body.fade-in .project:nth-child(24) {
  transition-delay: 357ms; }

body.fade-in .project:nth-child(25) {
  transition-delay: 366ms; }

body.fade-in .project:nth-child(26) {
  transition-delay: 375ms; }

body.fade-in .project:nth-child(27) {
  transition-delay: 384ms; }

body.fade-in .project:nth-child(28) {
  transition-delay: 393ms; }

body.fade-in .project:nth-child(29) {
  transition-delay: 402ms; }

#go.project {
  transition-delay: 600ms; }

body.fade-out nav, body.fade-out article, body.fade-out .project {
  opacity: 0; }

#greeter.hidden, body.fade-in article.stale, body.fade-out article.article {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  margin: 0;
  opacity: 0; }

body.fade-in article.stale {
  /*transition: opacity 1s;*/ }

article.article > * {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-delay: 450ms; }

body.fade-in article.stale > * {
  opacity: 0; }

body.fade-out article.article > * {
  opacity: 0;
  transition-delay: 0; }

/* copy(Array.from(Array(10).keys()).slice(1).map((a)=>`      article>*:nth-child(${a}){transition-delay: ${50*(a-1)}ms;}\n`).join("")); */
article > *:nth-child(1) {
  transition-delay: 0ms; }

article > *:nth-child(2) {
  transition-delay: 50ms; }

article > *:nth-child(3) {
  transition-delay: 100ms; }

article > *:nth-child(4) {
  transition-delay: 150ms; }

article > *:nth-child(5) {
  transition-delay: 200ms; }

article > *:nth-child(6) {
  transition-delay: 250ms; }

article > *:nth-child(7) {
  transition-delay: 300ms; }

article > *:nth-child(8) {
  transition-delay: 350ms; }

article > *:nth-child(9) {
  transition-delay: 400ms; }

@keyframes ripple {
  from {
    outline: 0px solid #eee;
    opacity: 1; }
  15% {
    outline: 0px solid #eee;
    opacity: 1; }
  to {
    outline: 20px solid #eee;
    opacity: 0; } }

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  position: absolute;
  background-color: #eee; }

.ripple:after {
  animation: ripple 400ms cubic-bezier(0, 0, 0, 0.9) forwards;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s; }

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s; }

@keyframes flourish {
  from {
    outline: 0px solid #eee;
    opacity: 1; }
  15% {
    outline: 0px solid #eee;
    opacity: 1; }
  to {
    outline: 20px solid #eee;
    opacity: 0; } }

.flourish {
  animation: flourish 400ms cubic-bezier(0, 0, 0, 0.9) forwards;
  pointer-events: none;
  position: absolute;
  background-color: #eee; }

/* Responsive */
@media (max-width: 900px) {
  #projects {
    column-count: 2; } }

@media (max-width: 500px) {
  #projects {
    column-count: 1; }
  #greeter {
    font-size: 24px;
    letter-spacing: 0em; }
  article {
    font-size: 16px; } }
