#top-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 72px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 18px;
  z-index: 90; }

#top-bar {
  text-align: center;
  text-transform: uppercase; }

#title {
  text-align: center; }

#projects {
  padding-top: 72px;
  text-align: center; }

#prj-list {
  padding: 0 20px;
  list-style-type: none; }

.prj-item {
  margin-bottom: 20px;
  display: block; }

.prj-title {
  position: relative;
  display: inline-block;
  padding: 0 20px 8px;
  z-index: 10;
  color: currentColor;
  font-size: 36px;
  font-size: 9vw;
  line-height: 1.19em;
  font-weight: 700; }

.img-wrapper {
  position: relative; }

.img-ratio {
  width: auto;
  height: auto;
  position: relative;
  display: block; }

.img-ratio::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: currentColor; }

.prj-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%; }

#nav {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1em;
  font-weight: 500; }

#nav {
  text-align: center;
  text-transform: uppercase; }

/*.nav-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/
.nav-btn {
  display: inline-block;
  padding-bottom: 20px;
  text-decoration: none;
  color: #666; }

.nav-btn::after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 2px;
  background-color: currentColor; }

#social-nav {
  padding: 20px 0 90px;
  margin-top: 90px; }

.social-items {
  width: 40px;
  margin: 0 20px;
  text-indent: -9999px;
  display: inline-block;
  color: #666;
  vertical-align: middle;
  transition: color .3s; }

.social-icon {
  display: block; }

.social-icon svg {
  display: block;
  fill: #000; }

@media screen and (min-width: 768px) {
  #top-bar {
    height: 40px;
    padding-top: 31px;
    padding-left: 40px;
    text-align: left;
    font-size: 11px;
    line-height: 11px; }
  #title {
    position: absolute;
    top: 31px;
    left: 80px; }
  #nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    margin-top: 0;
    z-index: 100;
    text-align: left;
    font-size: 11px;
    visibility: hidden; }
  .nav-btn {
    position: absolute;
    top: 40px;
    right: 51px;
    padding-left: 30px;
    transform-origin: right top;
    transform: rotate(-90deg);
    color: #000; }
  .nav-btn::after {
    display: none; }
  .nav-btn:nth-of-type(2) {
    padding-right: 80px; }
  .nav-btn:nth-of-type(3) {
    padding-right: 150px; }
  #nav-last::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    right: 2;
    width: 16px;
    height: 1px;
    background-color: #000;
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: left; }
  /*#nav-col {
    position: absolute;
    top: 40px;
    right: 51px;
    padding-left: 30px;
    transform-origin: right top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/
  #social-nav {
    display: inline-block;
    margin-top: 0px;
    position: absolute;
    bottom: 33px;
    left: 0;
    padding: 0 10px;
    white-space: nowrap;
    transform-origin: left bottom;
    transform: rotate(-90deg); }
  .social-items {
    width: auto;
    text-indent: 0;
    margin: 0;
    color: black;
    padding-left: 20px; }
  .social-icon {
    display: none; } }

@media screen and (min-width: 768px) {
  #projects {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-top: 40px; }
  #prj-list {
    padding: 0px;
    margin-top: 149px; }
  #top-bar {
    height: 40px;
    padding-top: 31px;
    padding-left: 40px;
    text-align: left;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: .08em; }
  .prj-item {
    width: 30.56%;
    width: calc(27.78% + 40px);
    padding-left: 40px;
    margin-bottom: 0;
    text-align: left; }
  .prj-img-wrap {
    position: absolute;
    top: 40px;
    right: 80px;
    bottom: 40px;
    left: 27.78%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    background-color: transparent; }
  .img-wrap-link {
    position: relative;
    display: inline-block; }
  .img-ratio {
    transition: width .5s,height .5s;
    overflow: hidden; }
  a.prj-title {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    background-color: #fff;
    z-index: 2; }
  .selected {
    visibility: inherit;
    color: red; }
  .prj-color-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 63.89%;
    display: block;
    visibility: hidden;
    overflow: hidden; }
  #more-prj-arrow {
    display: block;
    width: 8px;
    height: 19px;
    overflow: hidden;
    transform: translateY(10px);
    color: black; }
  #more-prj-arrow svg {
    stroke: #000;
    transform: translateY(-10px);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.4s; }
  #more-prj {
    font-size: 11px;
    line-height: 11px;
    padding-bottom: 28px;
    margin-left: 80px;
    margin-top: 45px;
    text-align: initial; }
  #more-prj::after {
    display: none; }
  #title {
    position: absolute;
    top: 31px;
    left: 80px; }
  #nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    margin-top: 0;
    z-index: 100;
    text-align: left;
    font-size: 11px;
    visibility: hidden; }
  .nav-btn {
    position: absolute;
    top: 40px;
    right: 51px;
    padding-left: 30px;
    transform-origin: right top;
    transform: rotate(-90deg);
    color: #000; }
  .nav-btn::after {
    display: none; }
  .nav-btn:nth-of-type(2) {
    padding-right: 80px; }
  .nav-btn:nth-of-type(3) {
    padding-right: 150px; }
  #nav-last::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    right: 2;
    width: 16px;
    height: 1px;
    background-color: #000;
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: left; }
  /*#nav-col {
    position: absolute;
    top: 40px;
    right: 51px;
    padding-left: 30px;
    transform-origin: right top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}*/
  #social-nav {
    display: inline-block;
    margin-top: 0px;
    position: absolute;
    bottom: 33px;
    left: 0;
    padding: 0 10px;
    white-space: nowrap;
    transform-origin: left bottom;
    transform: rotate(-90deg); }
  .social-items {
    width: auto;
    text-indent: 0;
    margin: 0;
    color: black;
    padding-left: 20px; }
  .social-icon {
    display: none; }
  .prj-item.selected .prj-left-line, .prj-item.selected .prj-right-line {
    visibility: visible; } }
