@import './node_modules/normalize-scss/sass/_normalize.scss';
@include normalize();
 /* Global overrides */
  html, body{
    height: 100%;
    margin: 0;
  }
  body{
    font-family: 'Noto Sans', sans-serif;
    // font-family: 'Cabin', sans-serif;
    // background-color:#141414;
    background-color:#eee;
    color:#141414;
    margin:0 auto;
    max-width:1318px;
    height: 100%;
    // max-width:1008px;
    box-sizing:border-box;
    border:16px solid transparent;
    width:100%;
    font-size:16px;
    letter-spacing: 0.02em;
    line-height: 1.75em;
  }
  h1 {
    font-size: 3em;
  }
  h2{
    font-size: 2.5em;
  }
  h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 1.4em;
  }
  h1, h2, h3{
    letter-spacing: 0.04em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    margin: 0px;
    color:#555;
    font-size: 1.25em;
  }
  a{
    text-decoration:none;
    color:inherit;
  }
  a.styled{
    display:inline-block;
    color:#eee;
    background-color:#282828;
    padding:2px 6px;
    margin:2px;
  }
  a.styled-dark {
    color:#555;
  }
  a.styled:hover, a.styled-dark:hover{
    background-color:#383838;
    color:#eee;
  }
  a.styled:active, a.styled-dark:active{
    background-color:#eee;
    color:#383838;
  }
  a.styled-dark .icon{
    opacity:0.3;
  }
  a.styled-dark:hover .icon{
    opacity:0.93;
  }
  a.styled-dark:active .icon{
    opacity:0.8;
    background-position-y:-40px
  }
  .imglite{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:inline-block;
  }

  /* Nav bar */
  #nav > a{
    font-size:1.17em;
    padding:8px;
    margin:0;
  }
  nav {
    max-width:1318px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
    padding-left: 30px;
    padding-right: 30px;
  }
  article, header{
    max-width:1008px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin:0 auto 2em auto;
  }
  nav > *{
    display:inline-block;
  }
  #projectnav {
    float:right;
  }
  .projectnav {
    display:block;
    text-align:right;
    margin:0;
    white-space: nowrap;
    padding: 0;
  }
  .projectnav span.navtext{
    /*height:40px;*/
    display:inline-block;
    margin:8px;
  }
  .projectnav a {
    /*margin:0;*/
  }

  /* Greeter */
  #greeter{
    font-size:31.5px;
    line-height:1.4em;
    display:block;
    margin:2em 0;
    color:#6f6f6f;
  }
  #greeter>a{
    /*color:#eee;*/
    padding:2px 0.25em;
    margin:0.25em 0;
  }
  #contact{
    margin: 1em 0;
    text-align:center;
  }
  #contact a {
    display:inline-block;
    width:40px;
    height:40px;
    padding:0;
    overflow:hidden;
    /*text-align:center;*/
    /*background-repeat:no-repeat;*/
  }
  #contact a:active {
  }

  .icon {
    background-image:url("../img/logos.png");
    padding:20px;
    display:inline-block;
    background-size:320px 80px;
  }
  .icon:before{
    content:'\200B'; /* Strange hack */
  }
  .icon.left {background-position-x: 0px;}
  .icon.right {background-position-x: -40px;}
  .icon.facebook {background-position-x: -80px;}
  .icon.twitter {background-position-x: -120px;}
  .icon.github {background-position-x: -200px;}
  .icon.instagram {background-position-x: -160px;}
  .icon.email {background-position-x: -240px;}
  .icon:hover {
    background-color:rgba(238, 238, 238, 0.616);
    color:#eee;
  }

  /* Article Styling */
  article{
    text-align: justify;
    font-size:22px;
    line-height:1.65em;
    position:relative;
    overflow: hidden;
    overflow-y: hidden;
  }
  #article {
    margin-bottom: 5em;
  }
  .lotsaspace{
    padding-bottom:150%;
  }
  article > *:first-child{
    margin-top:0;
  }
  article img
  {
    max-width: 1000px;
    max-height: 100%;
    display: block;
    width:100%;
    height:100%;
    z-index: 1;
    text-align: center;
    object-position: center center;
    margin: auto;
  }
  article .imgwrap {
    overflow: hidden;
  }
  article figure {
    height:auto;
    object-fit: cover;
    object-position: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    overflow-y: hidden;
    // align-content: center;
  }
  article hr{
    border-color:#555;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 768px;
  }
  // to align the post 
  article p {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
  article iframe.giphy-embed {
    margin-left: auto;
    margin-right: auto;
  }
  article div {
    margin-bottom: 60px;
  }
  article h2,
  article h3,
  article h5 {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
  article p a{
    display:inline-block;
    color:#eee;
    background-color:#282828;
    padding:0px 3px;
    margin:1px;
  }
  article p a.styled-dark {
    color:#555;
  }
  // article p a:hover, article p a.styled-dark:hover{
  //   background-color:#383838;
  //   color:#eee;
  // }
  article p a:active, article p a.styled-dark:active{
    background-color:#eee;
    color:#383838;
  }
  blockquote:before{
    position: absolute;
    content: "\00a0";
    display: block;
    width: 1px;
    height: 100%;
    left: .4em;
    background: #000;
  }
  figcaption {
    font-size: .9rem;
  }
  ul,li {
      margin-top: 10px;
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
  }
  ul li > a{
    display:inline-block;
    color:#eee;
    background-color:#282828;
    padding:2px 6px;
    margin:2px;
  }
  ul li > a:hover {
    background-color:#383838;
    color:#eee;
  }
  ul li > a:active{
    background-color:#eee;
    color:#383838;
  }


  /* Project container */
  #projects{
    column-count:3;
    column-gap:24px;
    width:100%;
  }
  .project{
    box-sizing: border-box;
    border: 6px solid transparent;
    width:100%;
    overflow:hidden;
    display:inline-block;
    margin-bottom:16px;
  }

  /* Project Tiles */
  .project:hover{
    border-color:#383838;
    background-color:#383838;
  }
  .project:active, #go{
    border-color:#eee;
    background-color:#eee;
    color:#222;
  }
  .project summary{
    margin:0;
  }
  .project h3{
    display:inline-block;
    margin:0;
  }
  .project:hover h3 {
    color:#eee
  }
  .project:hover time {
    color:#aaa
  }
  .project:hover p {
    color:#aaa
  }
  .project img{
    width:100%;
    height:auto;
  }
  .project p, .project time{
    letter-spacing:0.01em;
    font-size:0.95em;
    margin:0;
    color:#6f6f6f;
  }
  .project time{
    /*color:#888;*/
    margin-left:8px;
    display:inline-block;
  }
 /* Blog */
  #blog{
    column-count:1;
    column-gap:24px;
    width:100%;
    margin-bottom: 72px;
  }
  .post-title {
    font-size: 80px;
    letter-spacing: -3px;
    max-width: 600px;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .post{
    box-sizing: border-box;
    border: 6px solid transparent;
    width:100%;
    overflow:hidden;
    display:inline-block;
    margin-bottom:16px;
  }

  .post:before {
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
  }
    /* Blog Tiles */
  .post:hover{
    border-color:#383838;
    background-color:#383838;
  }
  .post:active, #go{
    border-color:#eee;
    background-color:#eee;
    color:#222;
  }
  .post summary{
    margin:0;
  }
  .post h3{
    display:inline-block;
    margin:0;
  }
  .post:hover h3 {
    color:#eee
  }
  .post:hover time {
    color:#aaa
  }
  .post:hover p {
    color:#aaa
  }
  .post img{
    width:100%;
    height:auto;
  }
  .post p, .post time{
    letter-spacing:0.01em;
    font-size:0.95em;
    margin:0;
    color:#6f6f6f;
  }
  .post time{
    /*color:#888;*/
    margin-left:8px;
    display:inline-block;
  }

  /* Animation */
  nav, article {
    transition-property: opacity;
    transition-duration: 200ms;
  }
  body.fade-in nav, body.fade-in article, body.fade-in project {
    transition-duration: 300ms;
  }
  .project,
  .post {
    transition-property: opacity;
    transition-duration: 200ms;
  }
  body.delayed-fade nav, body.delayed-fade article {
    transition-delay: 300ms;
    transition-duration: 300ms;
  }
  /*copy(Array.from(Array(30).keys()).slice(1).map((a)=>`      .project:nth-child(${a}){transition-delay:${300+9*(a-1)}ms;}\n`).join(""));*/
  .project:nth-child(1){transition-delay:300ms;}
  .project:nth-child(2){transition-delay:309ms;}
  .project:nth-child(3){transition-delay:318ms;}
  .project:nth-child(4){transition-delay:327ms;}
  .project:nth-child(5){transition-delay:336ms;}
  .project:nth-child(6){transition-delay:345ms;}
  .project:nth-child(7){transition-delay:354ms;}
  .project:nth-child(8){transition-delay:363ms;}
  .project:nth-child(9){transition-delay:372ms;}
  .project:nth-child(10){transition-delay:381ms;}
  .project:nth-child(11){transition-delay:390ms;}
  .project:nth-child(12){transition-delay:399ms;}
  .project:nth-child(13){transition-delay:408ms;}
  .project:nth-child(14){transition-delay:417ms;}
  .project:nth-child(15){transition-delay:426ms;}
  .project:nth-child(16){transition-delay:435ms;}
  .project:nth-child(17){transition-delay:444ms;}
  .project:nth-child(18){transition-delay:453ms;}
  .project:nth-child(19){transition-delay:462ms;}
  .project:nth-child(20){transition-delay:471ms;}
  .project:nth-child(21){transition-delay:480ms;}
  .project:nth-child(22){transition-delay:489ms;}
  .project:nth-child(23){transition-delay:498ms;}
  .project:nth-child(24){transition-delay:507ms;}
  .project:nth-child(25){transition-delay:516ms;}
  .project:nth-child(26){transition-delay:525ms;}
  .project:nth-child(27){transition-delay:534ms;}
  .project:nth-child(28){transition-delay:543ms;}
  .project:nth-child(29){transition-delay:552ms;}


  .post:nth-child(1){transition-delay:300ms;}
  .post:nth-child(2){transition-delay:309ms;}
  .post:nth-child(3){transition-delay:318ms;}
  .post:nth-child(4){transition-delay:327ms;}
  .post:nth-child(5){transition-delay:336ms;}
  .post:nth-child(6){transition-delay:345ms;}
  .post:nth-child(7){transition-delay:354ms;}
  .post:nth-child(8){transition-delay:363ms;}
  .post:nth-child(9){transition-delay:372ms;}
  .post:nth-child(10){transition-delay:381ms;}
  .post:nth-child(11){transition-delay:390ms;}
  .post:nth-child(12){transition-delay:399ms;}
  .post:nth-child(13){transition-delay:408ms;}
  .post:nth-child(14){transition-delay:417ms;}
  .post:nth-child(15){transition-delay:426ms;}
  .post:nth-child(16){transition-delay:435ms;}
  .post:nth-child(17){transition-delay:444ms;}
  .post:nth-child(18){transition-delay:453ms;}
  .post:nth-child(19){transition-delay:462ms;}
  .post:nth-child(20){transition-delay:471ms;}
  .post:nth-child(21){transition-delay:480ms;}
  .post:nth-child(22){transition-delay:489ms;}
  .post:nth-child(23){transition-delay:498ms;}
  .post:nth-child(24){transition-delay:507ms;}
  .post:nth-child(25){transition-delay:516ms;}
  .post:nth-child(26){transition-delay:525ms;}
  .post:nth-child(27){transition-delay:534ms;}
  .post:nth-child(28){transition-delay:543ms;}
  .post:nth-child(29){transition-delay:552ms;}


  /* copy(Array.from(Array(30).keys()).slice(1).map((a)=>`      body.fade-in .project:nth-child(${a}){transition-delay:${150+9*(a-1)}ms;}\n`).join("")); */
  body.fade-in .project:nth-child(1){transition-delay:150ms;}
  body.fade-in .project:nth-child(2){transition-delay:159ms;}
  body.fade-in .project:nth-child(3){transition-delay:168ms;}
  body.fade-in .project:nth-child(4){transition-delay:177ms;}
  body.fade-in .project:nth-child(5){transition-delay:186ms;}
  body.fade-in .project:nth-child(6){transition-delay:195ms;}
  body.fade-in .project:nth-child(7){transition-delay:204ms;}
  body.fade-in .project:nth-child(8){transition-delay:213ms;}
  body.fade-in .project:nth-child(9){transition-delay:222ms;}
  body.fade-in .project:nth-child(10){transition-delay:231ms;}
  body.fade-in .project:nth-child(11){transition-delay:240ms;}
  body.fade-in .project:nth-child(12){transition-delay:249ms;}
  body.fade-in .project:nth-child(13){transition-delay:258ms;}
  body.fade-in .project:nth-child(14){transition-delay:267ms;}
  body.fade-in .project:nth-child(15){transition-delay:276ms;}
  body.fade-in .project:nth-child(16){transition-delay:285ms;}
  body.fade-in .project:nth-child(17){transition-delay:294ms;}
  body.fade-in .project:nth-child(18){transition-delay:303ms;}
  body.fade-in .project:nth-child(19){transition-delay:312ms;}
  body.fade-in .project:nth-child(20){transition-delay:321ms;}
  body.fade-in .project:nth-child(21){transition-delay:330ms;}
  body.fade-in .project:nth-child(22){transition-delay:339ms;}
  body.fade-in .project:nth-child(23){transition-delay:348ms;}
  body.fade-in .project:nth-child(24){transition-delay:357ms;}
  body.fade-in .project:nth-child(25){transition-delay:366ms;}
  body.fade-in .project:nth-child(26){transition-delay:375ms;}
  body.fade-in .project:nth-child(27){transition-delay:384ms;}
  body.fade-in .project:nth-child(28){transition-delay:393ms;}
  body.fade-in .project:nth-child(29){transition-delay:402ms;}

  body.fade-in .post:nth-child(1){transition-delay:150ms;}
  body.fade-in .post:nth-child(2){transition-delay:159ms;}
  body.fade-in .post:nth-child(3){transition-delay:168ms;}
  body.fade-in .post:nth-child(4){transition-delay:177ms;}
  body.fade-in .post:nth-child(5){transition-delay:186ms;}
  body.fade-in .post:nth-child(6){transition-delay:195ms;}
  body.fade-in .post:nth-child(7){transition-delay:204ms;}
  body.fade-in .post:nth-child(8){transition-delay:213ms;}
  body.fade-in .post:nth-child(9){transition-delay:222ms;}
  body.fade-in .post:nth-child(10){transition-delay:231ms;}
  body.fade-in .post:nth-child(11){transition-delay:240ms;}
  body.fade-in .post:nth-child(12){transition-delay:249ms;}
  body.fade-in .post:nth-child(13){transition-delay:258ms;}
  body.fade-in .post:nth-child(14){transition-delay:267ms;}
  body.fade-in .post:nth-child(15){transition-delay:276ms;}
  body.fade-in .post:nth-child(16){transition-delay:285ms;}
  body.fade-in .post:nth-child(17){transition-delay:294ms;}
  body.fade-in .post:nth-child(18){transition-delay:303ms;}
  body.fade-in .post:nth-child(19){transition-delay:312ms;}
  body.fade-in .post:nth-child(20){transition-delay:321ms;}
  body.fade-in .post:nth-child(21){transition-delay:330ms;}
  body.fade-in .post:nth-child(22){transition-delay:339ms;}
  body.fade-in .post:nth-child(23){transition-delay:348ms;}
  body.fade-in .post:nth-child(24){transition-delay:357ms;}
  body.fade-in .post:nth-child(25){transition-delay:366ms;}
  body.fade-in .post:nth-child(26){transition-delay:375ms;}
  body.fade-in .post:nth-child(27){transition-delay:384ms;}
  body.fade-in .post:nth-child(28){transition-delay:393ms;}
  body.fade-in .post:nth-child(29){transition-delay:402ms;}



  #go.project {
    transition-delay:600ms;
  }

  body.fade-out nav, body.fade-out article, body.fade-out .project{
    opacity:0;
  }
  body.fade-out nav, body.fade-out article, body.fade-out .post{
    opacity:0;
  }

  #greeter.hidden, body.fade-in article.stale, body.fade-out article.article{
    position:absolute;
    left:0;
    top:0;
    height:0;
    width:0;
    overflow:hidden;
    margin:0;
    opacity:0;
  }

  body.fade-in article.stale {
    /*transition: opacity 1s;*/
  }

  article.article > *{
    opacity:1;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-delay: 450ms;
  }
  body.fade-in article.stale > *{
    opacity:0;
  }
  body.fade-out article.article > *{
    opacity:0;
    transition-delay: 0;
  }

  /* copy(Array.from(Array(10).keys()).slice(1).map((a)=>`      article>*:nth-child(${a}){transition-delay: ${50*(a-1)}ms;}\n`).join("")); */
  article>*:nth-child(1){transition-delay: 0ms;}
  article>*:nth-child(2){transition-delay: 50ms;}
  article>*:nth-child(3){transition-delay: 100ms;}
  article>*:nth-child(4){transition-delay: 150ms;}
  article>*:nth-child(5){transition-delay: 200ms;}
  article>*:nth-child(6){transition-delay: 250ms;}
  article>*:nth-child(7){transition-delay: 300ms;}
  article>*:nth-child(8){transition-delay: 350ms;}
  article>*:nth-child(9){transition-delay: 400ms;}


  @keyframes ripple{
    from{
      outline:0px solid #eee;
      opacity:1;
    }
    15%{
      outline:0px solid #eee;
      opacity:1;
    }
    to{
      outline:20px solid #eee;
      opacity:0;
    }
  }
  .ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    position:absolute;
    background-color:#eee;
  }
  .ripple:after {
    animation:ripple 400ms cubic-bezier(0, 0, 0, 0.9) forwards;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }
  .ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
  }



  @keyframes flourish{
    from{
      outline:0px solid #eee;
      opacity:1;
    }
    15%{
      outline:0px solid #eee;
      opacity:1;
    }
    to{
      outline:20px solid #eee;
      opacity:0;
    }
  }

  .flourish{
    animation:flourish 400ms cubic-bezier(0, 0, 0, 0.9) forwards;
    pointer-events: none;
    position:absolute;
    background-color:#eee;
  }
  /* Responsive */
  @media (max-width:900px) {
    body {
      max-width:1008px;
    }
    nav, aricle, header {
      max-width: 750px;
    }
    #projects{
      column-count:2;
    }
    #posts {
      column-count: 2;
    }
  }
  @media (max-width:500px) {
    body {
      max-width: 1008px;
    }
    #projects{
      column-count:1;
    }
    #posts {
      column-count: 1;
    }
    #greeter{
      font-size:24px;
      letter-spacing:0em;
    }
    article{
      font-size:16px;
    }
  }