{{ partial "head.html" }}
<body class="fade-in" cz-shortcut-listen="true">
    <nav id="nav">
      <a href="{{ .Site.BaseURL}}" onclick="bloom(this);" class="styled">Kye Shimizu</a>
      <div id="projectnav">
        <a href="{{ .Site.BaseURL }}/about/" class="styled">About</a>
        <a href="{{ .Site.BaseURL }}/blog/" class="styled">Blog</a>
      </div>
    </nav>
    <article id="article" class="stale"></article>
    <article id="article2" class="article">
      <quote id="greeter">
        Essays about some of the things that I encounter and think about.
      </quote>

        <div id="contact">
          <a href="https://www.facebook.com/kye.shimizu/" title="Facebook" target="_blank" onclick="bloom(this);return opendelayed(this);">{{ partial "facebook.html" }}</a>
          <a href="https://www.twitter.com/kyeshimizu/" title="Twitter" target="_blank"  onclick="bloom(this);return opendelayed(this);">{{ partial "twitter.html" }}</a>
          <a href="https://www.instagram.com/kkshmz/" title="Instagram" target="_blank" onclick="bloom(this);return opendelayed(this);">{{ partial "instagram.html" }}</a>
          <a href="https://github.com/kkshmz" title="GitHub" target="_blank"  onclick="bloom(this);return opendelayed(this);">{{ partial "github.html" }}</a>
          <a href="mailto:kyeshimizu@gmail.com" title="Email" target="_blank"  onclick="bloom(this);return opendelayed(this);">{{ partial "gmail.html" }}</a>
        </div>
      </quote>
    </article>
    <section id="blog">
        {{ range where .Data.Pages "Section" "blog"}}
        <a class="post" href="{{ .RelPermalink }}"><summary><h3>{{ .Title }}</h3><time>{{.Date.Format "Jan 2006"}}</time><p> {{ .Description }}</p></summary></a>
        {{ end }}
    </section>
    <script src="{{.Site.BaseURL }}/js/lazysizes.min.js" async=""></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78797907-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78797907-1');
</script>

</html>